.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url(:medium), class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p
					Submitted by
					= @recipe.user.email				
				%p 	
					Category:
					= @recipe.category.name				
				%h4 Average Rating
				.average-review-rating{"data-score" => @average_review}
				%span Based on #{ @recipe.reviews.count} reviews
				
				%p.description= @recipe.description



	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name

		.col-md-6
			#directions
				%h2 Directions
				%ol
					- @recipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-6
			#reviews
				%h3 Reviews
				= render @recipe.reviews
					
				= link_to "Back", root_path, class: "btn btn-default"
					- if user_signed_in?
					= link_to "Add Review", new_recipe_review_path(@recipe), class: "btn btn-default"
					- if current_user.id == @recipe.user_id
						= link_to "Edit", edit_recipe_path, class: "btn btn-default"
						= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"

:javascript
	$('.review-rating').raty({
	  	readOnly: true,
	  	score: function() {
	  		return $(this).attr('data-score');
	  	},
	  	path: '/assets/'
	  });

:javascript
	$('.average-review-rating').raty({
	  	readOnly: true,
	  	path: '/assets/',
	  	score: function() {
	  		return $(this).attr('data-score')
	  	}
	  });
